.a-menu{
    width: 100%;
    background:#fff;
    padding: 1rem;
}
.a-menu ul{
    list-style: none;
}
.a-menu ul li{
    margin: 1.2rem 0;
}
.a-menu ul li{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.a-menu ul li:hover{
    font-size: 28px;  
}
.a-menu ul .MenuLink{
    width: 100%;
    height: 100vh;
    text-decoration: none;
    color:#B4B4C6;
}
