.c-add{
    width: 50%;
    /* border:1px solid; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem 1rem 0rem;
}
.c-add button{
    width: 45%;
    height: 100%;
    background:#009398;
    border:none;
    border-radius: 30px;
    padding: 1.2rem;
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.c-add button:hover{
    opacity: 0.9;
}
/*  */

.c-add {
    text-align: center;
    padding-top: 2rem;
  }
  
  /* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  } */
  .Modal_navbar{
    position: relative;
    border: 1px solid;
  }
  .Modal_navbar h2{
    color:  #009398;
    text-align: center;
  }
  .ModalForm{
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .ModalForm input{
    width: 40%;
    padding: 1rem;
    border:none;
    outline:none;
    border-bottom:1px solid;
    margin:20px;
  }
  .CategoryBtn{
    width: 50%;
    height: 45px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:  #009398;
    text-transform: uppercase;
    }