.wrapperProduct{
    width: 100%;
    background: #fff;
}
.ProductContent{
    width: 100%;
    display: flex;
}
.Productmenus{
    width: 20%;
}
.ProductMainContent{
    width: 80%;
}

.containerProduct{
    width: 100%; 
    background:#F8F8F8;
}
.containerProduct .search-and-btn{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.containerProduct .main-content{
    width: 100%;
    padding: 1rem;
}
.containerProduct .main-content .head-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
}
.containerProduct .main-content .head-title h1{
    font-size: 32px;
    color: #A6A6A6;
    margin: 0 15px;
    cursor: pointer;
}
.containerProduct .main-content-product{
    width: 100%;    
}
.main-content-product .ul-head{
    width: 100%;
    list-style: none;
    background:#fff;
    display: flex;
    align-items:center;
    padding:1.5rem;
    border-radius: 30px;
    margin-bottom: 30px;
}
.main-content-product .ul-head li{
    width: 15%;
    font-weight: 600;
    text-align: center;
}
.main-content-product .ul-body{
    width: 100%;
    list-style: none;
    background:#fff;
    display: flex;
    align-items:center;
    padding:1.5rem;
    border-radius: 30px;
    margin-bottom: 10px;
}
.main-content-product .ul-body li{
    width: 15%;
    font-weight: 600;
    text-align: center;
}
.edit-icons button{
    margin: 0 5px;
    cursor: pointer;
    border:none;
    border-radius:50%;
    padding: 1rem;
    background-color: transparent;
    font-size: 18px;
    opacity: 0.5;
}
.edit-icons #edit-btn{
    color:#3F8C8E;
}
.edit-icons #delete-btn{
    color: red;
}
.edit-icons button:hover{
    opacity: 1;
}